<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top menu item -->
    <menuitem id="menu_hospital_root" name="Hospital" action="" sequence="0" groups=""/>
    <menuitem id="menu_hospital_master" parent="menu_hospital_root" name="Patient Details" action="" sequence="0"
              groups=""/>
</odoo>
